@layer base, utils, components;

@import "@webtui/css/base.css";

@import "@webtui/css/utils/box.css";

@import "@webtui/css/components/button.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/separator.css";
@import "@webtui/css/components/popover.css";

@import "@webtui/theme-catppuccin";
@import "@webtui/theme-everforest";
@import "@webtui/theme-gruvbox"; 
@import "@webtui/theme-nord";  
@import "@webtui/theme-vitesse";
@import "@webtui/plugin-nf";



@layer base {
  :root {
    --font-family: "JetBrains Mono", Menlo, Monaco, monospace, "Symbols Nerd Font";
    --font-size: 18px;
    --line-height: 1.4;
  }
  
  body,
  html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}